a {
  color: #11999E;
  text-decoration: none;
  line-height: 2;
  margin: 10px 20px;
}

a:hover {
  color: #EAF6F6;
}

div {
  background-color: #F4F9F5;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.middle-container {
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.code-img {
  float: left;
  width: 25%;
  margin-right: 2rem;
}

.music-img {
  float: right;
  width: 25%;
  margin-left: 2rem;
}

.round-profile {
  margin-top: 3em;
  border-radius: 100%;
  width:auto;
  height: 20em;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

@media (max-width: 1028px) {
  .intro {
    font-size: 24px;
  }
  .code-skill-description {
    font-size: 20px;
  }
  .music-skill-description {
    font-size: 20px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  .contact-message {
    font-size: 20px;
  }
}


.top-cloud {
  right: 300px;
  top: 40px;
  position: absolute;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}
.copyright {
  color: #EAF6F6;
  font-size: 0.74rem;
  padding: 20px 0;
}
.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.btn {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
	background-color:#30e3cb;
	border-radius:8px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Montserrat', sans-serif;
	font-size:20px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn:hover {
	background:linear-gradient(to bottom, #2bc4ad 5%, #30e3cb 100%);
	background-color:#2bc4ad;
}
.btn:active {
	position:relative;
	top:1px;
}
